<!DOCTYPE html>
<html>
	<head>
		<title>Success!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/beltapp/styles.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	</head>
	<body>
		<div class="container-fluid text-center">
			<h1>{{request.session.msg}} {{user.first_name}} !</h1>
			<a href="/logout">Logout</a>
			{% if messages %}
			<div class="messages">
        	{% for message in messages %}
        		<p class="{{ message.tags }}">{{ message }}</p>
        	{% endfor %}
        	</div>
        	{% endif %}
        	<div class="row">
        		<div class="col-sm-6">
		        	<h2>Quotable Quotes</h2>
		        		{% for x in quote %}
		        	<form class="quote" action="/fave/{{x.id}}" method="POST">
		        		{% csrf_token %}
		        		
		        		<div class='form-group'>
		        			<h3>{{x.author}}: {{x.quote}} </h3>
		        			<h5><a href="/users/{{x.user.id}}">Posted by:{{x.user.first_name}}</a></h5><button class="btn" type="submit" value="favorite">Add to My List</button>
						</div>
						{% endfor %}
		        	</form>
		        </div>
		        <div class="col-sm-6">
		        		{% for x in faves %}
		        	<form class="quote" action="/remove/{{x.id}}" method="POST">
		        		{% csrf_token %}
		        		<div class='form-group'>
		        			<h2>Your Favorites</h2>
		        			<h3>{{x.author}}: {{x.quote}} </h3>
		        			<h5><a href="/users/{{x.user.id}}">Posted by:{{x.user.first_name}}</a></h5><button class="btn" type="submit" value="remove">Remove From My List</button>
						</div>
							{% endfor %}

		        	</form>
					<form action="/new" method="POST">
							{% csrf_token %}
						<h3>Contribute a Quote:</h3>
						<div class='form-group'>
							<label>Quoted By:</label>
							<input type="text" class="form-control" name="author">
						</div>
						<div class='form-group'>
							<label>Message:</label>
							<input type="text" class="form-control" name="quote">
						</div>
						<div class='form-group'>
							<button class="btn" type="submit" value="new">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>