<!DOCTYPE html>
<html>
	<head>
		<title>Success!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/beltapp/styles.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	</head>
	<body>
		<div class="container-fluid text-center">
			<a href="/logout">Logout</a>|<a href="/main">Dashboard</a>
			<h5>Posts by: {{user.first_name}}</h5>
			<h5>Count:{{count}}</h5>
			{% for x in quote %}

			<h5>{{x.author}}:{{x.quote}}</h5>

			{% endfor %}
			
		</div>
	</body>
</html>